<%= form_for(@professional_profession_image) do |f| %>
  <% if @professional_profession_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_profession_image.errors.count, "error") %> prohibited this professional_profession_image from being saved:</h2>

      <ul>
      <% @professional_profession_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
